<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Spotlight</h1>
  <% if signed_in? %>
  	<% if @current_user.podcasts.any? %>
  		<ul class="nav nav-tabs nav-stacked" style="text-align:left;">
  		<% @current_user.podcasts.each do |podcast| %>
        <%= render partial: "layouts/list_podcasts", locals: {podcast: podcast} %>

  		<% end %>
      </ul>
	  	<%= link_to "Start another Podcast", new_user_podcast_path(current_user[:id]), class: "btn btn-large btn-primary" %>
  	<% else %>
      <p>
    	<%= link_to "Start a Podcast", new_user_podcast_path(current_user[:id]), class: "btn btn-large btn-primary" %>
      </p>
  	<% end %>
    <p>
    <%= link_to "Or Watch a Podcast", podcasts_path, class: "btn btn-secondary" %>
    </p>
  <% else %>
  <h2>homepage</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>