<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Spotlight</h1>

  <% if signed_in? %>
  	<% if @current_user.podcasts.any? %>
  		<table class="table table-hover">
        <thead>
          <tr><th>Title</th><th>Description</th></tr>
        </thead>
        <tbody>
  		<% @current_user.podcasts.each do |podcast| %>
        <tr>
  			<td><%= podcast.name %></td><td> <%= podcast.description %></td>
        </tr>
  		<% end %>
      </tbody>
  		</table>
	  	<%= link_to "Start another Podcast", new_user_podcast_path(current_user[:id]), class: "btn btn-large btn-primary" %>
  	<% else %>
      <p>
    	<%= link_to "Start a Podcast", new_user_podcast_path(current_user[:id]), class: "btn btn-large btn-primary" %>
      </p>
  	<% end %>
    <p>
    <%= link_to "Or Watch a Podcast", podcasts_path, class: "btn btn-secondary" %>
    </p>
  <% else %>
  <h2>homepage</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>