<% provide(:title, "Start a new episode") %>
<div class="row">
	<div class="span3">
		<%= render 'sidebar'%>
	</div>
	<div class="span9">
		<% if ishosting?(current_user) %>
		<%= render partial: 'navbar', locals: {text: "You're broadcasting!"}  %>
		<div>
			<div name="audio player">
				Streaming media player thingy
			</div>
			<div class="well hostlog">
				<h4 class="wellhead" data-uri="<%= request.host %>:<%= request.port %>/websocket">User submission past threshold</h4>
				<table class="table" id="user-accepted-table">
					<!-- User submissions past threshold goes here-->
				</table>
			</div>
			<input type="text" class="span8" id="message">
			<button type="submit" class="btn" id="sendhost">Submit</button>
			<div class="well usersubs">
				<h4 class="wellhead" data-uri="<%= request.host %>:<%= request.port %>/websocket">Your Activity Log</h4>
				<table class="table" id="host-table">
					<!-- host activity goes here-->
				</table>
			</div>
		</div>
		<% else %>
		<%= render partial: 'navbar', locals: {text: "Listening to #{Episode.find(params[:id]).title}" }  %>
		<div>
			<div name="audio player">
				Audio Player
			</div>
			<div class="well hostlog" data-uri="<%= request.host %>:<%= request.port %>/websocket">
				<h4 class="wellhead">Host's Activity Log</h4>
				<table class="table" id="host-table">
					<!-- host activity goes here-->
				</table>
			</div>
			<input type="text" class="span8" id="message">
			<button type="submit" class="btn" id="send">Submit</button>
			<div class="well usersubs" data-uri="<%= request.host %>:<%= request.port %>/websocket">
				<h4 class="wellhead">User Submissions</h4>
				<table class="table" id="user-submissions">
					<!-- User submissions goes here-->
				</table>
			</div>
		</div>
		<% end %>
	</div>
</div>
