<div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#epaccord" href="#<%= episode.podcast_id %><%= episode.id %>">
        <%= episode.title %>
      </a>
</div>
<div id="<%= episode.podcast_id %><%= episode.id %>" class="accordion-body collapse">
  <div class="accordion-inner">
    <%= episode.description %>
    <br>
    <% #link_to user_podcast_episode_path(params[:user_id], episode.podcast_id, episode.id) %>
    <a href="#<%= episode.podcast_id %><%= episode.id %>">
        Click here to listen &amp; discuss
      </a>
  </div>
</div>