<div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#epaccord" href="#<%= episode.podcast_id %><%= episode.id %>">
        <%= episode.title %>
      </a>
</div>
<div id="<%= episode.podcast_id %><%= episode.id %>" class="accordion-body collapse">
  <div class="accordion-inner">
    <%= episode.description %>
  </div>
</div>