<% provide(:title, "Make a Podcast") %>
<h1>Start a Podcast</h1>

<%= form_for(@podcast, :url=>user_podcasts_path(@user)) do |f| %>
	<% if @podcast.errors.any? %>
		<div class="alert alert-error">
		<ul>
			<% @podcast.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			
		</ul>
		</div>
	<% end %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :description %>
	<%= f.text_field :description %>
	<p>
	<%= f.submit "Create Podcast", class: "btn btn-primary btn-large" %>
	</p>
<% end %>
