<% provide(:title, @podcast.name.html_safe) %>
<!--<div class="hero-unit">-->
<div class="row">
	<div class="span3">
		<ul class="nav nav-list">
			<li><h1><%= @podcast.name %></h1></li>
			<li class="podcover"><%= image_tag 'podcastcover.jpg', alt: "chocolate" %></li>
			<li class="poddescript"><%= @podcast.description %></li>
			<!-- make it if-contact-exists-soemthing-toolazyatm
			<li class="list-header">Contact</li>-->
			<!-- make if-admin-check-->
			<% if current_user?(@podcast.user) %>
			<li class="podbuttons"><%= link_to '#', class: "btn btn-success" do %>
				<i class="icon-bullhorn"></i> Start Broadcast
				<% end %>
			</li>
			<li class="podbuttons">
				<%= link_to user_podcast_path, method: :delete,
                    data: { confirm: "You sure?" }, class: "btn btn-danger" do %>
				<i class="icon-trash"></i> Remove Podcast
				<% end %>
                                 
			</li>
			<% end %>
		</ul>
	</div>
	<div class="span7">
		Byeworld
	</div>
</div>
</div>