<% provide(:title, @podcast.name.html_safe) %>
<!--<div class="hero-unit">-->
<div class="row">
	<div class="span3">
		<ul class="nav nav-list">
			<li><h1><%= @podcast.name %></h1></li>
			<li class="podcover"><%= image_tag 'podcastcover.jpg', alt: "chocolate" %></li>
			<li class="poddescript"><%= @podcast.description %></li>
			<!-- make it if-contact-exists-soemthing-toolazyatm
			<li class="list-header">Contact</li>-->
			<!-- make if-admin-check-->
			<% if current_user?(@podcast.user) %>
			<li class="podbuttons"></li>
			<%= link_to '#', class: "btn btn-success btn-block" do %>
				<i class="icon-bullhorn"></i> Start Broadcast
				<% end %>
				<%= link_to user_podcast_path, method: :delete,
                    data: { confirm: "You sure?" }, class: "btn btn-danger btn-block" do %>
				<i class="icon-trash"></i> Remove Podcast
				<% end %>
			<% end %>
		</ul>
	</div>
	<div class="span7">
		<div class="navbar">
			<div class="navbar-inner">
				<% if @podcast.live %>
					<%= link_to '#', class: "brand" do %>Currenty Live<% end %>
				<% else %>
					<%= link_to '#', class: "brand" do %>Off-Air<% end %>
				<% end %>
			</div>
		</div>
		<div>
			<h2 class="lpadding h2ep">Episodes</h2>
			<% if @podcast.episodes.any? %>
				<div class="accordion" id="epaccord">
					<div class="accordion-group">
						<% @podcast.episodes.each do |episode| %>
						<%= render partial: "episode", locals: {episode: episode} %>
						<% end %>
					</div>
				</div>
			<% else %>
				<p class="lpadding"><b><%= @podcast.name %></b> has not broadcasted an episode yet.</p>
			<% end %>
		</div>
	</div>
</div>
</div>